
.foothead{
    position: absolute;
    bottom: 0;
    left: 0;
    color: aliceblue;
    min-width: 100vw;  
    height: 4em;
    background: #000;
    float: bottom;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

